$dark-primary-color:    #455a64;
$default-primary-color: #607d8b;
$light-primary-color:   #fbfbfb;
$text-primary-color:    #484848;
$accent-color:          #03a9f4;
$primary-text-color:    #484848;
$secondary-text-color:  #757575;
$divider-color:         #e4e4e4;

$azul-sioc: 			#003d6f;
$amarillo-sioc: 		#fec401;
